### Developer: Edgar Moises Hernandez-Gonzalez
### Leer y guardar archivos .json

In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_json("/content/drive/My Drive/Documentos/Moyete/Canal/CursoPandas/productos.json")

In [ ]:
df

     producto  precio  stock
0    Refresco      30    100
1    Galletas      12     90
2        Jugo      12     80
3        Agua       6     70
4  Chocolates      20     60
5       Leche      18     50

In [ ]:
df_nuevo = df.drop(["stock"], axis=1)

In [ ]:
df_nuevo

     producto  precio
0    Refresco      30
1    Galletas      12
2        Jugo      12
3        Agua       6
4  Chocolates      20
5       Leche      18

In [ ]:
df_nuevo.to_json("/content/drive/My Drive/Documentos/Moyete/Canal/CursoPandas/productosColumns.json", orient="columns")

In [ ]:
df_nuevo.to_json("/content/drive/My Drive/Documentos/Moyete/Canal/CursoPandas/productosRecords.json", orient="records")

In [ ]:
df_columns = pd.read_json("/content/drive/My Drive/Documentos/Moyete/Canal/CursoPandas/productosColumns.json")

In [ ]:
df_columns

     producto  precio
0    Refresco      30
1    Galletas      12
2        Jugo      12
3        Agua       6
4  Chocolates      20
5       Leche      18

In [ ]:
df_records = pd.read_json("/content/drive/My Drive/Documentos/Moyete/Canal/CursoPandas/productosRecords.json")

In [ ]:
df_records

     producto  precio
0    Refresco      30
1    Galletas      12
2        Jugo      12
3        Agua       6
4  Chocolates      20
5       Leche      18