### Developer: Edgar Moises Hernandez-Gonzalez
### SQL con Pandas
#### Crear tabla e insertar datos desde pandas
#### Consultar tabla desde pandas
#### Se utilizara postgresql

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:12345@localhost:5432/pruebas")

In [3]:
df = pd.DataFrame([
    ["messi", "messi@argentina.com", "barcelona"],
    ["c ronaldo", "cr7@rm.com", "el bicho"],
    ["neymar", "neymar@empresa.com", "12345"],
    ["mbappe", "mbappe@francia.com", "67890"],
    ["lewandowski", "robert@bayern.com", "1234567890"]
],
    columns=["user", "email", "password"])
df

          user                email    password
0        messi  messi@argentina.com   barcelona
1    c ronaldo           cr7@rm.com    el bicho
2       neymar   neymar@empresa.com       12345
3       mbappe   mbappe@francia.com       67890
4  lewandowski    robert@bayern.com  1234567890

In [4]:
df.to_sql("users", con=engine, if_exists="replace")

In [5]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'messi', 'messi@argentina.com', 'barcelona'),
 (1, 'c ronaldo', 'cr7@rm.com', 'el bicho'),
 (2, 'neymar', 'neymar@empresa.com', '12345'),
 (3, 'mbappe', 'mbappe@francia.com', '67890'),
 (4, 'lewandowski', 'robert@bayern.com', '1234567890')]

In [6]:
df2 = pd.DataFrame([
    ["Kevin De Bruyne", "kevin@gmail.com", "mipassword"],
    ["Virgil van Dijk", "van@hotmail.com", "nuevacontrasena"],
    ["Sadio Mane", "mane@outlook.com", "1234567890"]
],
    columns=["user", "email", "password"])
df2

              user             email         password
0  Kevin De Bruyne   kevin@gmail.com       mipassword
1  Virgil van Dijk   van@hotmail.com  nuevacontrasena
2       Sadio Mane  mane@outlook.com       1234567890

In [7]:
df2.to_sql("users", con=engine, if_exists="append")

In [8]:
pd.read_sql("SELECT * FROM users", engine)

   index             user                email         password
0      0            messi  messi@argentina.com        barcelona
1      1        c ronaldo           cr7@rm.com         el bicho
2      2           neymar   neymar@empresa.com            12345
3      3           mbappe   mbappe@francia.com            67890
4      4      lewandowski    robert@bayern.com       1234567890
5      0  Kevin De Bruyne      kevin@gmail.com       mipassword
6      1  Virgil van Dijk      van@hotmail.com  nuevacontrasena
7      2       Sadio Mane     mane@outlook.com       1234567890